@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@layer base {
  
  html {
    cursor: url('/MaxTkachPortfolioWeb/cursor.png'), auto !important;
  }
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .font-pixel {
    font-family: monospace;
    letter-spacing: 0.1em;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.font-press-start {
  font-family: 'Press Start 2P', cursive;
} 